﻿@model Test.Jr.Models.Product
@{
    ViewBag.Title = "Add ";
    var msg = ViewBag.Message;
}

@using (Html.BeginForm("Add", "Product", FormMethod.Post))
{
    <div class="wrapper wrapper-content">
        <div class="ibox-content">

            <form>
                <h2>Add Product</h2>

                <div class="form-group row">
                    <label class="col-lg-2 col-form-label">Name</label>

                    <div>
                        <input type="text" placeholder="Name" class="form-control" id="name" name="Name">
                    </div>
                </div>


                <div class="form-group row">
                    <label class="col-lg-2 col-form-label">Description</label>

                    <div>
                        <input type="text" placeholder="Description" name="Description" id="Description" class="form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-offset-2 col-lg-10">
                        <button class="btn btn-primary" type="submit">Add Product</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
}