﻿@model IEnumerable<Test.Jr.Models.Product>
@{
    ViewBag.Title = "Product List";
    var msg = ViewBag.Message;
}

<h2>Product List</h2>
<a href="@Url.Action("Add","Product")" class="btn btn-primary">Add</a>
<div class="wrapper wrapper-content">

    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-content">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name </th>
                            <th>Description</th>
                            <th>Created</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var product in Model)
                        {
                            <tr>
                                <td>@product.Id</td>
                                <td> <h4> @product.Name  </h4></td>
                                <td><h4> @product.Description </h4> </td>
                                <td><h4>@product.Created </h4></td>
                                

                                <td>
                                    @*<a href="@Url.Action("Add","Product", new {Id = product.Id})" class="btn btn-primary">Add</a>*@
                                    <a href="@Url.Action("Update","Product",new { Id = product.Id })" class="btn btn-secondary">Update</a>
                                    <a href="@Url.Action("Delete","Product",new { Id = product.Id })" class="btn btn-secondary">Delete</a>

                                </td>
                            </tr>

                        }
                    </tbody>
                </table>


            </div>
        </div>
    </div>
</div>
